<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King of Fighters</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="icon" href="/static/images/icon.png">
</head>
<body>
    <div style="width:1280px; height: 50px; font-size: 32px; text-align: center; color: red;">Alpha V0.21</div>
    <div style="width:1280px; height: 50px; font-size: 32px; text-align: center;">
    Player1: wasd移动 空格攻击 q特殊攻击，Player2: 方向键移动 回车攻击 shift 特殊攻击
    </div>
    <div id="kof"></div>
    <script type="module">
        import {KOF} from "/static/js/base.js"
        let kof = new KOF('kof');
    </script>
</body>
</html>